@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.grey {
  text-decoration: none;
  color: var(--vt-c-grey);
  transition: 0.4s;
}

.pink {
  color: var(--vt-c-pink);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--vt-c-pink-half);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: top center;
  }

  #app {
    padding: 0 2rem;
  }
}
